/* app css stylesheet */

body {
  padding: 5%;
}

h1 {
  color: #444;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #444;
  text-decoration: underline;
}

a:hover, a:focus {
  color: red;
  text-decoration: none;
}

.newpost {
  padding: 10px 0;
}

.tags {
  background-color: red;
  color: white;
  border: none;
}
